body {
    text-align: center;
}

h1 {
    font-size: 3.6em;
}

.timer {
    font-size: 2.2em;
    padding: 20 0;  
} 


legend,
input {
    font-size: 1.4em;
    line-height: 1.5;
    padding: 10px;
}

    