body {
    text-align: center;
}

.wrapper {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(220, 220, 146);
}

.triv-ans {
    display: inline;
}

h1 {
    font-size: 5em;
    padding-top: 100px;
    color: blue;
}

#startBtn  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 25px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 150px 0;
}

legend,
input {
    font-size: 1.4em;
    line-height: 1.5;
    padding: 10px;
}